:root {
	--bg: #F7A;
	--dcl-bg: #282a36; --dcl-cl: #44475a;	--dcl-fg: #f8f8f2;
	--dcl-cm: #6272a4; --dcl-cy: #8be9fd;	--dcl-gr: #50fa7b;
	--dcl-or: #ffb86c; --dcl-pk: #ff79c6;	--dcl-pr: #bd93f9;
	--dcl-rd: #ff5555; --dcl-yl: #f1fa8c;
}

h1, h2, h3, h4, h5, h6, ul, ol {margin: .1em 0}
body {
	margin: 0; color: var(--dcl-fg);
	background: url(/src/assets/sample.jpg) fixed center no-repeat;
	background-size: cover;
	font: normal x-large 'Trebuchet MS', Verdana, sans-serif;
}
main {background: #282a36A0;}
